torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.65.0
scipy==1.10.1
scikit-learn==1.2.2

einops==0.6.1
pytorch-lightning==1.6.4
torchmetrics==0.11.4
lightning-bolts==0.5.0
wandb==0.15.2
timm==0.6.13
orion==0.2.6

matplotlib
seaborn
pandas

wget
